// twice as big
.element {
	transform: scale(2);
}


// half as wide but twice as tall
.element {
	transform: scale(.5, 2);
}


// horizontal
.element {
	transform: scaleX(3.5);
}


// flip upside down and left to right
.element {
	transform: scale(-1);
}


// flip only horizontally
.element {
	transform: scale(-1, 1);
}