// slant all the vertical lines so they lean to the left 45deg
.element {
	transform: skew(45deg, 0);
}


// skew on both axes
.element {
	transform: skew(25deg, 10deg);
}


// skew for X axe only
.element {
	transform: skewX(10deg);
}